@import "./reset.css";

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* ---------------------------------- */
/* -------Header -------------------- */
body {
    background-color: #f1f2f3; 
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
}
header {
    height: 56px;
    background-color: #fff;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.flexbox {
    display: flex;
}

.title {
    width: 40%;
    height: 56%;
}

.title h1 {
    font-size: 30px;
    font-weight: 550;
    line-height: 56px;
    font-family: "Roboto", sans-serif;
    color: rgb(10, 10, 10);
    letter-spacing: 0.2px;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 17px;
    color: rgb(3, 3, 3);
    font-weight: 525;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro W3, Hiragino Kaku Gothic Pro, sans-serif !important;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li+li {
    margin-left: 18px;
}
/* --------------------------------------- */
/* ---------Section- banner-------------- */
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}
.banner {
    background: url(../img/head.jpg) center center / cover no-repeat;
    height: 100vh;
    color: #fff;
}

.overlay {
    min-height: 100vh;
    background-color: rgb(20 24 28/0.4);
    text-align: center;
    display: grid;
    align-items: center;
    flex-direction: column;
}

.banner-text {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.banner-text h2 {
    font-weight: 900;
    font-size: 60px;
}
.banner-text p , .banner-text button{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}
.banner-text p.is-visible , button.is-visible{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
} 



section.hero-banner {
    height: 100vh;
}
.banner-text button {
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.3s ease-in-out;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;

}
/* --------------------------------------- */
/* ---------Section-about me-------------- */

section{
    width: 100%;
    height: min-content(100% - 56px - 56px);
    display: grid;
    align-items: center;
    /* padding: 50px 0; */
}
.image h2{
    text-align: center;
    font-size: 40px;
    color: #f1f2f3;
    margin-top: 50px;
    /* background-color: #000; */
}
 .image img{ 
    text-align: center;
    margin: 0 auto;
    /* width: auto;
    height: auto; */
    
} 
 .image{
    background-color: #000;
} 
.about > .image{
    /* align-items: justify; */
    display: grid;
    width: calc(100% - 30px);
}

.content{
    text-align: justify;
    margin: 30px 0;
}
.link{
    text-align: center;
    line-height: 40px;
    width: 20%;
    border-radius: 6px;
    background-color:blue;
    margin-top: 40px;
    cursor: pointer;
    align-items: center;
    display: grid;
    margin: auto;
    margin-bottom: 30px;

}
.link a:hover{
    text-decoration: underline;
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}
p + p{
    margin-top: 5px;
}

/* --------------------------------------- */
/* ---------Section-about me-------------- */

.contact-me{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #95c6d9;
   height: 40vh;
    flex-direction: row;
    
}
.contact {
    display: grid;
    text-align: center;
    place-items: center;
    
}
.contact > h2 {
    text-align: center;
    font-size: 40px;
    
}
.contact > p {
    font-size: 25px;
}
 
div.accounts {
    display: flex;
    text-align: center;
    place-items: center;
    justify-content: center;
    
}
div.accounts ul {
    list-style: none;
}

div.accounts ul li {
    display: inline;
    line-height: 66px;
    cursor: default;
}

div.accounts ul li a {
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.accounts li {
    border: 1px solid;
    border-radius: 50%;
    padding: 6px;
    height: 30px;
    width: 30px;

}

.accounts ul li+li {
    margin-left: 18px;
}

.github {
color:  #000000 ;
}
.github:hover{
    color: #fff;
}

.email{
color:  #00acee ;
}
.email:hover{
    color: darkblue;
}

.youtube {
color: 	#f42b2b;
}
.youtube:hover{
    color: black;
}
.insta {
    color: 	#da6679;
}
 .insta:hover{
     color:orangered;
}


/* -------------------------------- */
/* ------- Footer ------------------ */
.flexbox {
    display: flex;
}

footer {
    height: 65px;
    background-color: #fff;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

div .icons {
    width: 50%;
    text-align: left;
}

div .icons ul {
    list-style: none;
}

div .icons ul li {
    display: inline;
    line-height: 66px;
    cursor: default;
}

div .icons ul li a {
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.icons li {
    border: 1px solid;
    border-radius: 50%;
    padding: 6px;
}

.icons ul li+li {
    margin-left: 18px;
}

.github {
color:  #000000 ;
}
.github:hover{
    color: #fff;
}

.twitter{
color:  #00acee ;
}
.twitter:hover{
    color: #00acee;
}

.youtube {
color: 	#f42b2b;
}
.youtube:hover{
    color: #f42b2b;
}

.copy {
    width: 50%;
    height: 56%;
}

.copy p {
    font-size: 17px;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    line-height: 66px;
    color: #000;
    letter-spacing: 0.2px;
}